body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  height: 200px;
  background-color: #3E99D9;
  border-bottom: 8px solid #D85C97;
}

#logo {
  margin: 25px;
  width: 150px;
  float: left;
}

#bizname {
  margin: 50px 0px 0px 0px;
  float: left;
}

h1 {
  font-size: 4em;
  font-family: 'Audiowide', cursive;
}

#p-logo {
  font-size: 1em;
  font-style: italic;
  padding-top: 125px;
  margin-top: 0px;
}

nav {
  padding: 15px 0px 10px 50px;
  text-decoration: none;
}

#ul-nav {
  list-style-type: none;
}

.nav li {
  display: inline;
  margin: 50px 15px 0px 0px;
  font-weight: bold;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: .8px;
}

#div-voteresults {
  margin: 0px 30px 0px 30px;
  height: 475px;
  width: 300px;
  float: left;
  border: 5px solid #D85C97;
  padding: 15px;
  border-radius: 10px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

ul>li {
  font-size: .8em;
  line-height: 1.7em;
}

#div-images {
  margin-top: 30px;
  width: 1300px;
  height: 550px;
  text-align: center;
}

#h2-instructions {
  padding-top: 20px;
  text-align: center;
}

#img01,
#img02,
#img03 {
  border: 5px solid #D85C97;
  margin: 10px;
  width: 250px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}

#p-images {
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 15px;
  padding-left: 450px;
  text-align: left;
  width: 800px;
  line-height: 1.5em;
}

#p-images>a {
  color: black;
  font-weight: bold;
}

#div-chart {
  width: 1300px;
  margin: 0px 0px 0px 50px;
}

footer {
  height: 100px;
  background-color: #3E99D9;
}

#p-copyright {
  font-size: .8em;
  color: white;
  padding-top: 25px;
  margin: auto;
  text-align: center;
}